hr {
  background-color: rgb(200, 200, 200);
  border: 0;
  border-top: 3px solid rgb(0, 0, 0) !important;
  height: 1px;
  margin-top: 2rem auto;
  text-align: center;
  width: 100%;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.separator {
  text-align: center;
  width: 100%;
}

.title{
  float: left;
  padding-left: 15%;
  margin-top: -2%;
}

.box{
  margin-top: -3px;
  margin-left: 0%;
  width: 12%;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
}
