
.resultDisplay{
  width: 100%;
  height: 200px !important;
  padding-top: 2% !important;
  margin-left: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
