

.img_display_area{
  width: 100%;
}

.img_display{
  width: 100%;
  height: 300px !important;
  margin-left: 0%;
  border-radius: 10px !important;
  border: 2px solid rgb(0, 0, 0) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.det_display{
  width: 100%;
  height: 200px !important;
  margin-left: 0%;
  border-radius: 10px !important;
  border: 2px solid rgb(0, 0, 0) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.result_display{
  width: 100%;
  margin-bottom: 10%;
  height: 300px !important;
  margin-left: 0%;
  border-radius: 10px !important;
  border: 2px solid rgb(0, 0, 0) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
